<section id="contact-section">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="section-heading text-center">Drop a mail or give us a call</h1>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
				<form #contactForm="ngForm" (ngSubmit)="formsubmit(contactForm.value)">
					<div class="form-group">
					    <label for="contact-name">Full Name</label>
					    <input type="text" class="form-control" id="contact-name" placeholder="Full Name" name="contact-name" [ngModel]="personName" required>
					</div>
					<div class="form-group">
					    <label for="contact-email">Email Address</label>
					    <input type="email" class="form-control" id="contact-email" placeholder="Email" name="contact-email" ngModel required>
					</div>
					<div class="form-group">
					    <label for="contact-phone">Phone Number</label>
					    <input type="phone" class="form-control" id="contact-phone" placeholder="Phone Number" name="contact-phone" ngModel pattern="\d*" required>
					</div>
					<div class="form-group">
					    <label for="contact-msg">Message</label>
					    <textarea class="form-control" id="contact-msg" placeholder="How can we help you?" name="contact-msg" ngModel></textarea>
					</div>
					<input type="submit" name="submit" value="SUBMIT" class="btn btn-default" [disabled]="!contactForm.valid">
				</form>
			</div><!--contact left-->
			<div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-1">
				<div class="media">
          <div class="media-left">
            <i class="fa fa-paper-plane fa-3x fa-fw" aria-hidden="true"></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Email :</h4>
            <p>Enquiry : info@example.com</p>
			<p>Technical Support : support@example.com</p>
          </div>
        </div><!--email-->
        <div class="media">
          <div class="media-left">
            <i class="fa fa-mobile fa-3x fa-fw" aria-hidden="true"></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Phone :</h4>
            <p>+844 35149182</p>
          </div>
        </div><!--phone-->
        <div class="media">
          <div class="media-left">
            <i class="fa fa-map-marker fa-3x fa-fw" aria-hidden="true"></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Address :</h4>
            <p>HALOVIETNAM LTD<br>
						66, Dang Van ngu, Dong Da<br>
						Hanoi, Vietnam</p>
          </div>
        </div><!--address-->
			</div>
		</div>
	</div>
</section>
<app-subscription></app-subscription>
