#contact-section{
	form{
		margin-bottom: 40px;
		.form-group{
			input{
				&.form-control{
					height: 45px;
				}
			}
		}
		.btn{
			background-color:#fcdb00;
			color: #000;
			border:none;
			font-weight: 700;
			height: 45px;
			padding: 6px 20px;
		}
	}
	.media{
		margin-bottom: 30px;
		.media-body{
			.media-heading{
				font-weight: 600;
			}
			p{
				margin-bottom: 4px;
			}
		}
	}
}