<section id="subscription-section">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
				<h1 class="section-heading">Subscribe to our Newsletter</h1>
				<h2 class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.</h2>
				<form class="form-inline">
				  <div class="form-group">
				    <input type="email" class="form-control" id="sub-email" placeholder="jane.doe@example.com" name="sub-email" required>
				  </div>
				  <input type="submit" class="btn btn-default text-uppercase" value="Subscribe"/>
				</form>
			</div>
		</div>
	</div>
</section>