<section id="home-top-slider-section">
  <div id="home--top-slider" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#home--top-slider" data-slide-to="0" class="active"></li>
      <li data-target="#home--top-slider" data-slide-to="1"></li>
      <li data-target="#home--top-slider" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item container active">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-push-6">
            <img src="/assets/images/tab.png" alt="tab" class="img-responsive center-block">
          </div>
          <div class="col-xs-12 col-sm-6 col-sm-pull-6">
            <h1>Inspire your Inspiration</h1>
            <h2>Simple to use for your app, products showcase and your inspiration</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis. Proin viverra risus a eros volutpat tempor. In quis arcu et eros porta loborti.</p>
            <br class="hidden-xs"><br class="hidden-xs">
            <div>
                <i class="fa fa-apple fa-3x" aria-hidden="true"></i> 
                <i class="fa fa-android fa-3x" aria-hidden="true"></i> 
                <i class="fa fa-windows fa-3x" aria-hidden="true"></i>
              </div>
          </div>
        </div>
      </div>
      <div class="item container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-push-6">
              <img src="/assets/images/tab.png" alt="tab" class="img-responsive center-block">
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-pull-6">
              <h1>Inspire your Inspiration</h1>
              <h2>Simple to use for your app, products showcase and your inspiration</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis. Proin viverra risus a eros volutpat tempor. In quis arcu et eros porta loborti.</p>
              <br class="hidden-xs"><br class="hidden-xs">

              <div>
                <i class="fa fa-apple fa-3x" aria-hidden="true"></i> 
                <i class="fa fa-android fa-3x" aria-hidden="true"></i> 
                <i class="fa fa-windows fa-3x" aria-hidden="true"></i>
              </div>
            </div>
          </div>
      </div>
      <div class="item container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-push-6">
              <img src="/assets/images/tab.png" alt="tab" class="img-responsive center-block">
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-pull-6">
              <h1>Inspire your Inspiration</h1>
              <h2>Simple to use for your app, products showcase and your inspiration</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis. Proin viverra risus a eros volutpat tempor. In quis arcu et eros porta loborti.</p>
              <br class="hidden-xs"><br class="hidden-xs">
              <div>
                <i class="fa fa-apple fa-3x" aria-hidden="true"></i> 
                <i class="fa fa-android fa-3x" aria-hidden="true"></i> 
                <i class="fa fa-windows fa-3x" aria-hidden="true"></i>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

<section id="features-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
        <h1 class="section-heading">Tinyone Features</h1>
        <h2 class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.</h2>
      </div>
    </div><!--heading subheading ends-->
    <div class="row features-list">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="media">
          <div class="media-left">
            <i class="fa fa-tablet fa-fw fa-3x" aria-hidden="true"></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Fully responsive</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="media">
          <div class="media-left">
            <i class="fa fa-lemon-o fa-fw fa-3x" aria-hidden="true"></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Fully layered PSD</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
          </div>
        </div>
      </div>
      <div class="clearfix hidden-xs hidden-md hidden-lg"></div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="media">
          <div class="media-left">
            <i class="fa fa-folder-o fa-fw fa-3x" aria-hidden="true"></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Font Awesome icons</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
          </div>
        </div>
      </div>
      <div class="clearfix hidden-xs hidden-sm"></div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="media">
          <div class="media-left">
            <i class="fa fa-folder-o fa-fw fa-3x" aria-hidden="true"></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading">HTML5 and CSS3</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
          </div>
        </div>
      </div>
      <div class="clearfix hidden-xs hidden-md hidden-lg"></div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="media">
          <div class="media-left">
            <i class="fa fa-envelope-o fa-fw fa-3x" aria-hidden="true"></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Email template</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="media">
          <div class="media-left">
            <i class="fa fa-bookmark-o fa-fw fa-3x" aria-hidden="true"></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Free download</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-subscription></app-subscription>